Repository NoahJenkins/noahjenkins.com-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier (staged files)
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint (staged files)
  entry: pnpm exec eslint --fix
  language: system

feat: Add skill-engineer agent documentation and operational guidelines
  .github/agents/skill-engineer.agent.md
Due: prettier

adding copilot engineer
  .github/agents/copilot-engineer.agent.md
Due: prettier

feat: enforce pnpm as the package manager and update dependencies
  README.md
  docs/TODO.md
  docs/context/2026-02-21-pnpm-only-enforcement-security-remediation.md
  docs/context/index.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  test-results/.last-run.json
Due: prettier

feat: add security audit job to CI and resolve layout build blocker
  .github/workflows/ci.yml
  app/layout.tsx
  docs/TODO.md
  docs/architecture/ci-cd-pipeline.md
  docs/context/2026-02-21-layout-build-fix-and-ci-audit-gate.md
  docs/context/index.md
Due: prettier, eslint

adding custom blog formating skill
  .github/skills/format-blog-post/SKILL.md
  README.md
  docs/README.skills.md
Due: prettier

adding post
  app/blog/posts/building-my-agentic-coding-workflow.mdx
Due: none

Refactor code structure for improved readability and maintainability
  app/blog/posts/building-my-agentic-coding-workflow.mdx
  docs/TODO.md
  docs/context/2026-02-21-dev-lock-and-turbopack-root-fix.md
  docs/context/2026-02-21-predev-cleanup-automation.md
  docs/context/index.md
  next.config.js
  package.json
  public/assets/images/agentic_coding_workflow_header.png
Due: prettier

feat: enhance local development stability by switching to Webpack mode and updating scripts
  docs/TODO.md
  docs/context/2026-02-21-dev-memory-stability-webpack-mode.md
  docs/context/index.md
  next.config.js
  package.json
Due: prettier

fix: correct minor grammatical errors and add GitHub project link in blog post
  app/blog/posts/building-my-agentic-coding-workflow.mdx
Due: none

feat: sync Copilot artifacts to Claude agent and update documentation
  .gitignore
  docs/TODO.md
  docs/context/2026-02-21-sync-agents.md
  docs/context/index.md
Due: prettier

casing correction on title
  app/blog/posts/building-my-agentic-coding-workflow.mdx
Due: none

fix: add missing entries for .claude and .codex to .gitignore
  .gitignore
Due: none

refactor: Consolidate UI components to a shared `@/components` directory and document the decision with an ADR.
  app/about/page.tsx
  app/blog/[slug]/page.tsx
  app/blog/components/blog-hero.tsx
  app/blog/page.tsx
  app/connections/page.tsx
  app/layout.tsx
  app/page.tsx
  app/projects/components/projects-content.tsx
  app/tools/css-generator/components/code-output.tsx
  app/tools/css-generator/components/gradient-generator.tsx
  app/tools/css-generator/page.tsx
  app/voices/components/audio-player.tsx
  app/voices/components/demo-showcase.tsx
  app/voices/page.tsx
  blog/tsconfig.json
  components/footer.tsx
  components/mdx.tsx
  components/nav.tsx
  components/posts.tsx
  docs/TODO.md
  docs/adr/0002-consolidate-ui-components.md
  docs/context/2026-02-21-component-consolidation.md
  docs/context/index.md
  package.json
  pnpm-lock.yaml
Due: prettier, eslint

chore: Remove explicit `version: latest` from pnpm setup action in CI workflows.
  .github/workflows/ci.yml
Due: prettier

fix: override minimatch to >=10.2.1 to resolve ReDoS vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier

fix: add test-exclude override to restore Jest compatibility
  package.json
  pnpm-lock.yaml
Due: prettier

feat: Implement chronological sorting for blog posts and enforce date-prefixed filenames for new posts.
  app/blog/posts/2019-02-18-what-to-look-for-in-a-project-before-you-audition.mdx
  app/blog/posts/2020-03-02-slow-and-steady.mdx
  app/blog/posts/2025-01-01-2024-in-review-looking-back.mdx
  app/blog/posts/2025-08-06-mid-year-update-2025.mdx
  app/blog/posts/2025-12-31-2025-year-in-review-mountains-and-valleys.mdx
  app/blog/posts/2026-02-21-building-my-agentic-coding-workflow.mdx
Due: none

feat: Implement chronological sorting for blog posts and update post formatting skill to enforce date-prefixed filenames.
  .github/skills/format-blog-post/SKILL.md
  app/blog/utils.ts
  docs/TODO.md
  docs/context/2026-02-21-blog-chronological-organization.md
  docs/context/index.md
Due: prettier, eslint

fix: Update dependencies for framer-motion, sanitize-html, and tailwind-merge to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier

feat: Implement Dependabot auto-merge workflow and align branch protection status-check names
  .github/workflows/dependabot-auto-merge.yml
  docs/TODO.md
  docs/adr/0003-dependabot-auto-merge-policy.md
  docs/architecture/ci-cd-pipeline.md
  docs/context/2026-03-02-dependabot-auto-merge-automation.md
  docs/context/index.md
  scripts/branch-protection.json
  scripts/setup-branch-protection.sh
Due: prettier

feat: Adjust branch protection to allow administrator bypass on main for direct commit workflows
  docs/TODO.md
  docs/adr/0004-allow-administrator-bypass-on-main.md
  docs/architecture/ci-cd-pipeline.md
  docs/context/2026-03-02-main-branch-admin-bypass-adjustment.md
  docs/context/index.md
  scripts/branch-protection.json
  scripts/setup-branch-protection.sh
Due: prettier

feat: Implement output encoding utilities to remediate stored XSS vulnerabilities in blog and RSS feeds
  app/blog/[slug]/page.tsx
  app/rss/route.ts
  components/posts.tsx
  docs/TODO.md
  docs/adr/0005-standardize-output-encoding-for-user-controlled-content.md
  docs/context/2026-03-02-stored-xss-alert-remediation.md
  docs/context/index.md
  lib/security.ts
  test/lib/security.test.ts
Due: prettier, eslint

Fix relative image URLs in GitHub README not resolving on about page
  lib/github-api.ts
Due: prettier, eslint

Fix relative image URLs in GitHub README not resolving on about page (#118)
  lib/github-api.ts
Due: prettier, eslint

fix: add npm_and_yarn to supported ecosystems in auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: prettier

fix: grant contents:write permission to enable auto-merge mutation
  .github/workflows/dependabot-auto-merge.yml
Due: prettier

fix: update last modified date and add Dependabot auto-merge bug investigation notes
  docs/TODO.md
  docs/adr/0003-dependabot-auto-merge-policy.md
  docs/context/2026-03-09-dependabot-auto-merge-bug-investigation.md
  docs/context/index.md
Due: prettier

moving plan.md
  docs/plan.md
Due: prettier

fix: improve error handling message for PR approval in Dependabot workflow
  .github/workflows/dependabot-auto-merge.yml
Due: prettier

new pompt to test
  .github/prompts/onboard-copilot.prompt.md
Due: prettier

delete: remove sync-agents skill documentation and related instructions
  .github/agents/code-reviewer.agent.md
  .github/agents/copilot-engineer.agent.md
  .github/agents/devops-specialist.agent.md
  .github/agents/documentation-specialist.agent.md
  .github/agents/frontend-specialist.agent.md
  .github/agents/research-agent.agent.md
  .github/agents/security-specialist.agent.md
  .github/agents/skill-engineer.agent.md
  .github/copilot-instructions.md
  .github/prompts/onboard-copilot.prompt.md
  .github/skills/sync-agents/SKILL.md
Due: prettier

adding new onboard prompt for testing
  .github/prompts/onboard-copilot.prompt.md
Due: prettier

ci: ignore major version updates for @vercel/* packages
  .github/dependabot.yml
Due: prettier

fix: add ignore rule for major version updates of @vercel/* packages in Dependabot config
  docs/adr/0003-dependabot-auto-merge-policy.md
  docs/context/2026-03-16-dependabot-major-version-ignore-and-pr-rebase.md
  docs/context/index.md
Due: prettier

fix: replace removed lucide-react brand icons with custom SVG components
  app/about/page.tsx
  app/connections/page.tsx
  app/page.tsx
  app/projects/components/projects-content.tsx
  components/footer.tsx
  components/icons/brand-icons.tsx
Due: prettier, eslint

fix: resolve picomatch ReDoS vulnerability via pnpm override
  package.json
  pnpm-lock.yaml
Due: prettier

fix(types): update import path for routes types
  next-env.d.ts
Due: prettier

feat(dependabot): implement auto-close for out-of-policy PRs and update workflow
  .github/workflows/dependabot-auto-merge.yml
  docs/TODO.md
  docs/adr/0006-auto-close-out-of-policy-dependabot-prs.md
  docs/architecture/ci-cd-pipeline.md
  docs/context/2026-03-31-dependabot-auto-close-and-audit-unblock.md
  docs/context/index.md
  package.json
  pnpm-lock.yaml
Due: prettier

feat(dependency): implement Dependency Review workflow and enable Dependabot security updates
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-review.yml
  docs/TODO.md
  docs/adr/0007-adopt-dependency-review-and-sha-pinned-github-actions.md
  docs/architecture/ci-cd-pipeline.md
  docs/context/2026-03-31-github-security-hardening-pass.md
  docs/context/index.md
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$, \.css$, \.(yaml|yml)$
  eslint: any of: ^(app|components|lib|test)/.*\.(js|jsx|ts|tsx)$
